.container {
  @apply w-full px-4  md:px-8 mx-auto;
  max-width: 1440px;
}
.thumbnail {
  position: relative;
  width: 100%;
  padding-top: calc((100% / 16) * 9);
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
